<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>hiccups</title>
	<style type="text/css">
		a {
			display: block;
		}
	</style>
</head>
<body>
<a href="{% url 'bliss' %}">bliss</a>
<a href="{% url 'bourgeois' %}">bourgeois</a>
<a href="{% url 'cigarette' %}">cigarette</a>
<a href="{% url 'spacecadet' %}">spacecadet</a>
<a href="{% url 'waterfall' %}">islands【ᴡᴀᴛᴇʀғᴀʟʟ】</a>
<a href="{% url 'complexion' %}">complexion</a>
<a href="{% url 'noisecancelling' %}">noisecancelling</a>
<a href="{% url 'deadlines' %}">deadlines</a>
<a href="{% url 'databug' %}">databug</a>
</body>
</html>